Basics/Start_Template_0
Basics/Start_Template_1
Basics/Start_Template_2
Basics/Debug_Template
Basics/Binary_Exponentiation
Basics/Mint
Basics/Harmonic_Number
Basics/GCD_and_LCM
Basics/Divisors
Basics/Divisors_Upto_N
Basics/Binary_Search
Basics/Ternary_Search
Basics/Prefix_Sum
Basics/Prefix_Sum_2D
Basics/Prefix_Sum_3D
Basics/Prefix_Xor
Basics/Difference_Array
Basics/Bitwise_Operations
Basics/Bitmask
Basics/Fast_IO

STL/Iterators
STL/Pair
STL/Tuple
STL/Stack
STL/Queue
STL/Priority_Queue
STL/Array
STL/Vector
STL/Deque
STL/String
STL/Forward_List
STL/List
STL/Set
STL/Multiset
STL/Map
STL/Multimap

Data_Structures/Minimum_Stack
Data_Structures/Minimum_Queue
Data_Structures/Sparse_Table
Data_Structures/DSU
Data_Structures/Fenwick_Tree
Data_Structures/Fenwick_Tree_Range_Update_Range_Query
Data_Structures/Segment_Tree
Data_Structures/Ordered_Set
Data_Structures/Trie
Data_Structures/Treap

Graph/DFS
Graph/BFS
Graph/Bipartite_Checking
Graph/Topological_Sorting
Graph/Cycle_Detection_Directed_Graph
Graph/Cycle_Detection_Undirected_Graph
Graph/Articulation_Points
Graph/Articulation_Bridges
Graph/Centroids
Graph/Floyd_Warshall
Graph/Dijkstra

String/Split
String/Strip
String/Z_Function
String/Manacher
String/Suffix_Array

Dynamic_Programming/Knapsack

Number_Theory/Extended_Euclidean_Algorithm
Number_Theory/Sieve
Number_Theory/Linear_Sieve

Miscellaneous/Arpa_Trick
