Data_Structures/DSU
Data_Structures/Fenwick_Tree
Data_Structures/Segment_Tree_with_Lazy_Propagation
Data_Structures/Segment_Tree

Graph/DFS
Graph/BFS
Graph/Centroids
Graph/2SAT
Graph/Bridges
Graph/Euler_Tour
Graph/EBCC
Graph/HLD

String/Split
String/Strip
String/Z_Function
String/Manacher
String/Suffix_Array
