Basics/Start_Template_0
Basics/Start_Template_1
Basics/Start_Template_2
Basics/Debug_Template
Basics/Mint
Basics/Divisors
Basics/Divisors_Upto_N
Basics/GCD_and_LCM
Basics/Binary_Search

Data_Structures/Minimum_Stack
Data_Structures/Minimum_Queue
Data_Structures/Sparse_Table
Data_Structures/DSU
Data_Structures/Fenwick_Tree
Data_Structures/Fenwick_Tree_Range_Update_Range_Query
Data_Structures/Segment_Tree
Data_Structures/Ordered_Set
Data_Structures/Trie

Graph/DFS
Graph/BFS
Graph/Bipartite_Checking
Graph/Topological_Sorting
Graph/Cycle_Detection_Directed_Graph
Graph/Cycle_Detection_Undirected_Graph
Graph/Articulation_Points
Graph/Articulation_Bridges
Graph/Centroids
Graph/Floyd_Warshall
Graph/Dijkstra

String/Split
String/Strip
String/Z_Function
String/Manacher
String/Suffix_Array

Dynamic_Programming/Knapsack

Number_Theory/Extended_Euclidean_Algorithm

Miscellaneous/Arpa_Trick
